body {
    background-image: url("../images/background.jpg");  
    background-repeat: no-repeat;
    background-size: 300%;
}

img {
    margin: 5px;
}

#imgDiv {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

#matchId {
    border: 1px solid;
    height: 20px;
    width: 50px;
}